# Minio Configuration
## Root user and password for Minio
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
## Minio server configuration
MINIO_REGION=us-east-1


# Spark Configuration
## AWS S3 endpoint for Spark to connect to Minio
AWS_S3_ENDPOINT=http://minio:9000
## Nessie Catalog endpoint for Spark to connect to Nessie
NESSIE_URI=http://nessie:19120/api/v2
## Location where files will be written when creating new tables
WAREHOUSE=s3a://warehouse/


# PostgreSQL Configuration
## Root user and password for PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres


# Nessie Configuration
NESSIE_VERSION_STORE_TYPE=JDBC2
NESSIE_VERSION_STORE_PERSIST_JDBC_DATASOURCE=postgresql