ipykernel==6.29.5
notebook==7.3.3
jupyterlab==4.3.8
pandas==2.0.3
requests==2.32.4
pydantic==2.10.6
dotenv==0.9.9
Faker==35.2.2
pyspark==3.5.0
pyiceberg==0.7.1
jupyterlab-lsp==5.1.0
python-lsp-server==1.12.0